@media screen and (max-width: 1001px) {
  .auto-box {
    padding: 0 10px;
  }

  //index
  .person-list {
    text-align: center;
    margin-right: 0;
    li {
      float: none;
      display: inline-block;
      margin-right: 5px;
      margin-left: 5px;
    }
  }
  .recommend-wrap {
    text-align: center;
    margin-right: 0;
    margin-top: 10px;
    .recommend-item {
      display: inline-block;
      float: none;
      text-align: left;
      &.recommend-first {

      }
    }
  }
  .links-wrap .links-body .links-ul {
    text-align: center;
    margin-right: 0;
    li {
      display: inline-block;
      float: none;
    }
  }

}

@media screen and (max-width: 769px) {

  .edit-wrap {
    .textarea-title{
      top: 100px;
      left: 15px;
      right: 15px;
      .title-input{
        font-size: 20px;
      }
    }
    .simditor {
      .simditor-placeholder{
        padding:150px 15px 20px;
      }
      .simditor-body{
        padding:150px 15px 20px;
      }
    }
  }
  .simditor.simditor-markdown {
    .markdown-editor{
      padding:128px 0 20px;
    }
  }
  .edit-bar{
    padding-right: 0;
    .publish-status{
      height: 34px;
    }
  }
  .tag-wrap{
    padding-bottom: 10px;
  }

  .sidebar-wrapper {
    width: 100%;
    text-align: center;
    ul{
      li{
        a{
          padding:10px 0 10px 10px;
          .iconfont{
            display: none;
          }
        }
      }
    }
    .sidebar-footer {
      a.btn{
        max-width: 160px;
      }
    }
    &.closed{
      left: 0;
      bottom: inherit;
      width: auto;
      height: 50px;
      background-image: url(../images/slide-bar-sm-bg.png);
      @include background-size(cover);
      .closed-panel {
        text-align: right;
        padding: 6px 15px;
      }
    }
  }

  .pmcaff-panel-body {
    padding: 0 15px 5px !important;
  }
  .container-fluid {
      padding-left: 0 !important;
      padding-right: 0 !important;
    .pmcaff-panel-body{
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  .feed-list-wrap .feed-img-box li {
    float: none;
    img {
      width: 100%;
      height: auto;
    }
  }
  //tag-normal
  .tag-panel-footer {
    padding: 10px 15px 0;
    .ft-tit {
      float: none;
      margin-bottom: 5px;
    }
    .pull-right {
      float: none !important;
      .type-tag {
        & + .type-tag, & + .tag-group {
          margin-left: 0;
        }
        margin-left: 0;
        margin-right: 5px;
        margin-bottom: 10px;
      }
    }
  }

  //search
  .search-list-wrap {
    .download-media {
      padding: 15px;
    }
    .download-media-bd {
      .feed-disc {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
      }
    }
  }
  //feed
  .feed-item {
    h2, .feed-item-bot {
      padding-left: 15px;
      padding-right: 15px;
    }

  }
  //detail-answer
  .answer-bar {
    padding-left: 70px;
    padding-right: 0;
  }

  //index
  .links-wrap .links-body .links-ul {
    li {
      float: left;
      width: 49%;
      height: auto;
      margin: 0 0 2%;
      &:nth-child(2n) {
        margin-left: 2%;
      }
    }
  }
  .recommend-wrap {
    .recommend-item {
      float: left;
      height: 260px;
      width: 49%;
      margin: 0 0 2%;
      .block-link {
        width: 100%;
      }
      &:nth-child(2n) {
        margin-right: 2%;
      }
      &.recommend-first {
        display: block;
        width: 100%;
        .recommend-body {
          height: 210px;
          padding-right: 80px;
          background-position: right center;
          p {
            display: none;
          }
        }
      }
    }
  }
  .recommend-title {
    height: 160px;
    padding-top: 65px;
    background-position: center 20px;
    @include background-size(35px);
    h2 {
      font-size: 14px;
      line-height: 20px;
    }
  }
  .index-a-head {
    text-align: center;
    .site-logo {
      float: none;
      display: inline-block;
      .logo-dis {
        font-size: 16px;
        letter-spacing: 6px;
        left: 5px;
      }
    }
    .head-nav {
      float: none;
      margin: 20px 0 30px;
      font-size: 16px;
    }
  }
  .person-list {
    height: auto;
    &.open {
      li {
        &:nth-child(2) {
          & ~ li {
            display: block;
          }
        }
      }
    }
    li {
      float: left;
      width: 49%;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 2%;
      &:nth-child(2n) {
        margin-left: 2%;
      }
      &:nth-child(2) {
        & ~ li {
          display: none;
        }
      }
    }
  }
  .person-more {
    margin-top: 10px;
  }

  .main-wrap {
    padding-right: inherit;
    padding-top: 50px;
  }
  .main-inner {
    padding: 0 10px;
  }
  .index-banner {
    height: 188px;
    @include background-size(cover);
    .btn {
      position: absolute;
      left: 50%;
      bottom: 15px;
      margin-left: -65px;
      width: 130px;
      height: 40px;
      line-height: 26px;
      margin-top: 0;
    }
  }
  .event-item {
    .img-box {
      img {
        width: 100%;
      }
    }
    h2 {
      max-height: inherit;
    }
    .event-item-bot {

    }
  }
  .has-pd-t {
    padding-top: 10px;
  }
  .event-thumbnail {
    .caption {
      padding: 20px 15px;
      h3 {
        //font-size: 16px;
      }
    }
  }
  .eve-panel {
    padding: 20px 15px;
    .caption {
      padding: 0;
    }
    .eve-panel-header {
      h2 {
        margin-top: 0;
      }
    }
    .eve-panel-footer {
      margin: 15px -15px 0;
      padding: 15px 15px 0;
      border-top: 1px solid #F7F7F7;
      text-align: right;
      a {
        color: $color-lighter;
      }
    }
  }
  .step-box {
    & + .eve-panel-header {
      margin-top: 20px;
    }
    @include background-size(100% 50px);
  }
  .download-inner {
    .index-nav-header {
      .nav-tabs {
        float: none;
        height: 25px;
        margin-right: 160px;
        white-space: nowrap;
        list-style: none;
        li {
          float: none;
          display: inline-block;
          &.more {
            display: inline-block;
          }
          &.will-hide {
            display: none;
          }
        }
      }
    }
  }
  .download-media {
    padding: 12px 10px;
    .download-media-bd {
      h3 {
        font-size: 14px;
        line-height: 1.6;
      }
    }
  }
  .download-control {
    padding: 10px;
  }
  .no-wrap {
    display: block;
    & + .no-wrap {
      margin-top: 5px;
    }
    span {
      display: inline-block;
      min-width: 55px;
    }
  }
  .webui-popover-content .eve-form {
    width: 200px;
  }
  .flip-clock-wrapper {
    height: 90px;
    ul {
      list-style-type: none;
      width: 28px;
      height: 60px;
      li a div {
        &.up:after {
          top: 29px;
        }
        &.inn {
          font-size: 30px !important;
          line-height: 60px;
        }
      }
    }
    .flip-clock-divider {
      height: 70px;
      .flip-clock-dot {
        &.top {
          top: 20px !important;
        }
        &.bottom {
          bottom: 20px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 415px) {
  .login-wrap {
    position: static;
    margin-left: 0;
    width: auto;
    padding: 100px 15px 0;
  }
  .ticket-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
  }
  .ticket-inner {
    position: absolute;
    top: 28%;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

//视网膜屏样式定义
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  body {

  }
}