.setting{
  .panel-heading{
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom: 1px solid #f7f7f7;
  }
  .panel-body{
    .form-group{
      margin-bottom: 10px;
    }
    .btn{
      padding: 8px 20px;
      font-size: 14px;
    }
    label{
      font-weight: normal;
      text-align: left;
    }
    .form-control{
      box-shadow: none;
      outline: none;
      height: 38px;
      background-color: #f7f7f7;
      border-color: #f7f7f7;
      border-radius: 2px;
    }
    .get-phone-code{
      padding-left: 0;
      .btn{
        width: 100%;
      }
    }
  }
}
.panel-pmcaff {
  border-color: #E5E5E5;
  > {
    .panel-heading {
      color: #333333;
      background-color: #ffffff;
      border-color: #E5E5E5;
      + .panel-collapse > .panel-body {
        border-top-color: #E5E5E5;
      }
      .badge {
        color: #ffffff;
        background-color: #333333;
      }
    }
    .panel-footer + .panel-collapse > .panel-body {
      border-bottom-color: #E5E5E5;
    }
  }
}

.panel-heading {
  padding: 19px 31px;
  a {
    display: block;
    &:hover {
      text-decoration: none;
    }
  }
}

.panel-body {
  padding: 15px 45px 31px;
}

.panel.closed {
  .panel-body {
    display: none;
  }
  .panel-title .icon-arrow {
    transform: rotate(90deg);
    display: inline-block;
  }
}

.user-avatar {
  position: relative;
  width: 100px;
  height: 100px;
  display: block;
  margin-bottom: 15px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
  }
  div {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;
    display: -o-box;
    -o-box-orient: horizontal;
    -o-box-pack: center;
    -o-box-align: center;
    display: -ms-box;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -ms-box-align: center;
    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
  }
  .btn {
    background-color: transparent;
    color: #fff;
    width: 54px;
    height: 24px;
    padding-top: 2px;
  }
  &:hover div {
    display: -webkit-box;
  }
}

.get-phone-code {
  padding-left: 0px;
  padding-right: 0px;
}

.col-5 {
  float: left;
  width: 33.33333333%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .col-5 {
    float: left;
    width: 33.33333333%;
  }
}

@media (min-width: 992px) {
  .col-5 {
    float: left;
    width: 20%;
  }
}

@media (min-width: 1200px) {
  .col-5 {
    float: left;
    width: 20%;
  }
}

.area-list {
  border-bottom: 1px dashed #E5E5E5;
  .col-5 {
    margin-bottom: 15px;
  }
}

.area-item {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  border-radius: 3px;
  border: none;
}

.area-save {
  margin-top: 15px;
}

.btn-follow {
  color: #fff;
  background-color: #82B64A;
  border-color: transparent;
  &:focus, &.focus, &:hover, &:active, &.active {
    color: #fff;
    background-color: #68923b;
    border-color: rgba(0, 0, 0, 0);
  }
}

.open > .dropdown-toggle.btn-follow {
  color: #fff;
  background-color: #68923b;
  border-color: rgba(0, 0, 0, 0);
}

.btn-follow {
  &:active:hover, &.active:hover {
    color: #fff;
    background-color: #567931;
    border-color: rgba(0, 0, 0, 0);
  }
}

.open > .dropdown-toggle.btn-follow:hover {
  color: #fff;
  background-color: #567931;
  border-color: rgba(0, 0, 0, 0);
}

.btn-follow {
  &:active:focus, &.active:focus {
    color: #fff;
    background-color: #567931;
    border-color: rgba(0, 0, 0, 0);
  }
}

.open > .dropdown-toggle.btn-follow:focus {
  color: #fff;
  background-color: #567931;
  border-color: rgba(0, 0, 0, 0);
}

.btn-follow {
  &:active.focus, &.active.focus {
    color: #fff;
    background-color: #567931;
    border-color: rgba(0, 0, 0, 0);
  }
}

.open > .dropdown-toggle.btn-follow.focus {
  color: #fff;
  background-color: #567931;
  border-color: rgba(0, 0, 0, 0);
}

.btn-follow {
  &:active, &.active {
    background-image: none;
  }
}

.open > .dropdown-toggle.btn-follow {
  background-image: none;
}

.btn-follow {
  &.disabled:hover, &[disabled]:hover {
    background-color: #82B64A;
    border-color: transparent;
  }
}

fieldset[disabled] .btn-follow:hover {
  background-color: #82B64A;
  border-color: transparent;
}

.btn-follow {
  &.disabled:focus, &[disabled]:focus {
    background-color: #82B64A;
    border-color: transparent;
  }
}

fieldset[disabled] .btn-follow:focus {
  background-color: #82B64A;
  border-color: transparent;
}

.btn-follow {
  &.disabled.focus, &[disabled].focus {
    background-color: #82B64A;
    border-color: transparent;
  }
}

fieldset[disabled] .btn-follow.focus {
  background-color: #82B64A;
  border-color: transparent;
}

.btn-follow {
  .badge {
    color: #82B64A;
    background-color: #fff;
  }
  &:hover {
    background-color: #74A342;
    color: #fff;
  }
}

.btn-color {
  /*background-image: -webkit-linear-gradient(bottom left, rgba(130,182,74,0.75) 0%, rgba(102,193,148,0.75) 100%);
        background-image: -o-linear-gradient(bottom left, rgba(130,182,74,0.75) 0%, rgba(102,193,148,0.75) 100%);
        background-image: linear-gradient(to top right, rgba(130,182,74,0.75) 0%, rgba(102,193,148,0.75) 100%);*/
  border-radius: 2px;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 2px;
  background-color: #82B64A;
}

body {
  padding-top: 50px;
}

.setting {
  .panel-heading {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom: 1px solid #f7f7f7;
  }
  .panel-body {
    label {
      font-weight: normal;
      text-align: left;
    }
    .form-control {
      box-shadow: none;
      outline: none;
    }
    .get-phone-code {
      padding-left: 0;
      .btn {
        width: 100%;
      }
    }
  }
}